@model GroupCapstoneProoj.Models.TraderIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }
</style>


<h1>Welcome to your dashboard, Trader @Html.DisplayFor(model => model.Trader.FirstName)!</h1>
<br />
<br />
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header" style="text-align:center">My Profile:</div>
    <div class="card-body">
        <img src="~/img/@Model.Trader.ProfilePicture" style="width:250px; height:auto; align-items:center" />
        <h4 class="card-title"style="align-content:center">Seller Rating:</h4>
        <div>
            @for (int i = 0; i < @Model.Trader.Rating; i++)
            {
                <span class="fa fa-star checked fa-2x"></span>

            }
            @for (int i = 0; i < 5 - @Model.Trader.Rating; i++)
            {
                <span class="fa fa-star fa-2x"></span>
            }
        </div>
    </div>
</div>

<br />
<div class="row" style="text-align: center">
    <div class="col-md-6">
        <h1>My Current Listings</h1>
        <button type="button" value="Create"onclick="location.href='@Url.Action("CreateListing", "Traders")'" class="btn btn-warning btn-lg btn-block">Create a Listing</button>        
        <br />
        <table class="table table-active">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MyListings[0].ListingName)</th>
                    <th>@Html.DisplayNameFor(model => model.MyListings[0].Category)</th>
                    <th>@Html.DisplayNameFor(model => model.MyListings[0].Price)</th>
                    <th>@Html.DisplayNameFor(model => model.MyListings[0].InReturn)</th>
                    <th>@Html.DisplayNameFor(model => model.MyListings[0].ListingStatus)</th>
                    <th>Listing Options:</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.MyListings.Count == 0)
                {
                    <tr class="table-danger">
                        <th scope="rowgroup" colspan="6">No current listings to display! :(</th>
                    </tr>
                }
                else
                {
                    foreach (var listing in Model.MyListings)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(listingItem => listing.ListingName)
                            </td>
                            <td>
                                @Html.DisplayFor(listingItem => listing.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(listingItem => listing.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(listingItem => listing.InReturn)
                            </td>
                            <td>
                                @Html.DisplayFor(listingItem => listing.ListingStatus)
                            </td>
                            <td>
                                @if (listing.ListingStatus == "InProgress")
                                {
                                    <a class="badge badge-warning" asp-action="RateBuyer" asp-route-id="@listing.Id">Rate Buyer</a>
                                }
                                else
                                {
                                    <a class="badge badge-success" asp-action="ListingDetails" asp-route-id="@listing.Id">View Listing</a>
                                    <a class="badge badge-warning" asp-action="EditListing" asp-route-id="@listing.Id">Edit</a>
                                    <a class="badge badge-danger" asp-action="DeleteListing" asp-route-id="@listing.Id">Delete</a>
                                }

                            </td>
                        </tr>
                    }
                }
        </table>
    </div>
    <div class="col-md-6" style="text-align:center;">
        <h1>Trade History</h1>
        <table class="table table-active">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MyPurchases[0].ListingName)</th>
                    <th>@Html.DisplayNameFor(model => model.MyPurchases[0].Category)</th>
                    <th>@Html.DisplayNameFor(model => model.MyPurchases[0].Price)</th>
                    <th>@Html.DisplayNameFor(model => model.MyPurchases[0].InReturn)</th>
                    <th>Details:</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.MyPurchases.Count == 0)
                {
                    <tr class="table-danger">
                        <th scope="rowgroup" colspan="6">No trades yet! :(</th>
                    </tr>
                }
                else
                {
                    foreach (var listing in Model.MyPurchases)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(listingItem => listing.ListingName)
                            </td>
                            <td>
                                @Html.DisplayFor(listingItem => listing.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(listingItem => listing.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(listingItem => listing.InReturn)
                            </td>
                            <td>
                                <a class="badge badge-success" asp-action="ListingDetails" asp-route-id="@listing.Id">View Listing</a> |
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trader.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trader.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trader.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trader.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trader.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trader.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trader.ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Trader.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Trader.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Trader.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.Trader.StreetName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Trader.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.Trader.State)
            </td>
            <td>
                @Html.DisplayFor(model => model.Trader.ZipCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Trader.Id">Edit my Profile</a> |
                <a asp-action="Delete" asp-route-id="@Model.Trader.Id">Delete my Profile</a>
            </td>
        </tr>
    </tbody>
</table>
