@model GroupCapstoneProoj.Models.AdminIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello @Model.FirstName @Model.LastName</h1>
<h3>Active Lists</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Listings[0].ListingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listings[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listings[0].InReturn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listings[0].Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Listings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.ListingName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(model => item.InReturn)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Price)
                </td>
                <td>
                    <a asp-action="AdminListingDetails" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
